h1{
	font: garamond;
	font-size: 40px;
	font-weight: bolder;
	color: #8099b3;
}
body{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
html{
  background-color: #FEFFEA;
}
.addOption{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	color: #8099b3;
}
.submit{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	color: #8099b3;
}
button{
  margin-top: 20px;
  font-family: arial;
}
footer{
  margin-top: 15px;
}
.resultSection{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	align-items: center;
	justify-content: center;
	font-family: garamond;
	font-weight: bold;
}
.inputSection{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	align-items: center;
	justify-content: center;
	font-family: garamond;
	margin: 50px 0px 80px 0px;
	width: 400px;
}
.inputs{
	width: inherit;
  font: garamond;
	font-weight: lighter;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	align-items: center;
	justify-content: center;
}
